

:root {
  --black-color: #0000; /* Negro */
  --main-color: #ed6b44; /* Naranja claro */
  --title-color: #b35336; /* Naranja claro */
  --main-color2: #ed6b4490; /* Naranja claro */
  --footer-color: #793300; /* Naranja oscuro para el pie de página */
  --shadow-color: rgba(48, 48, 48, 0.55);
  --navbar-color: #d3d3d36d;
  --orange-color: #ffdbd5;
  --fondo-color:#ff91563c;
  --green-color: #008f50;
  --blue-color: #4884ed;
  --blueDark-color:#2754a3;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;  /* Establece un layout de columna */
    min-height: 100vh;
  }


  