<div class="calendar">
    <!-- Cabecera del calendario -->
    <div class="calendar-header">
      <button (click)="changeMonth(-1)">&lt;</button>
      <span>{{ currentMonth | date: 'MMMM yyyy' }}</span>
      <button (click)="changeMonth(1)">&gt;</button>
    </div>
    
    <!-- Días de la semana -->
    <div class="calendar-days-of-week">
      <div *ngFor="let day of daysOfWeek" class="calendar-day-name">
        {{ day }}
      </div>
    </div>
  
    <!-- Cuerpo del calendario -->
    <div class="calendar-body">
      <div class="calendar-week" *ngFor="let week of calendarWeeks">
        <div *ngFor="let day of week.days" class="calendar-day" [ngClass]="{'empty': !day}">
            <span *ngIf="day">{{ day.getDate() }}</span>
          </div>
      </div>
    </div>
  </div>


  <div class="botonAnadir">
    <button>Añadir Partido</button>
  </div>
  