.calendar {
  width: 900px;
  margin: 20px auto;
  border: 2px solid var(--title-color);
  padding: 40px;
  background-color: var(--fondo-color);
  border-radius: 10px;
}

.calendar-day.empty {
  background-color: var(--fondo-color);
  border: 0;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
  color: var(--title-color);
}

.calendar-header button {
  font-size: 20px;
  cursor: pointer;
  background-color: var(--main-color2);
  border: solid var(--title-color) 2px;
  padding: 4px;
}

.calendar-days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
}

.calendar-body {
  display: grid;
}

.calendar-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.calendar-day {
  padding: 0;
  border: 0.5px solid #ccc;
  box-sizing: border-box;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar-day .match-label {
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: var(--blueDark-color);
  width: 100%;
}

.calendar-day button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}

.calendar-day .has-match {
  background-color: var(--blue-color);
  font-weight: bold;
}

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 10px;
}

form input,
form select {
  margin-bottom: 10px;
  padding: 5px;
}

form button {
  margin-top: 10px;
  padding: 10px;
  background: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

form button[type="button"] {
  background: #f44336;
}

form button[type="submit"]:hover,
form button[type="button"]:hover {
  opacity: 0.8;
}

.buttonMatch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.createMatch {
  background-color: var(--footer-color); /* Color de fondo verde */
  color: white; /* Color del texto */
  font-size: 16px; /* Tamaño de la fuente */
  padding: 10px 20px; /* Espaciado interno (arriba/abajo y izquierda/derecha) */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor a puntero */
  transition: background-color 0.3s, transform 0.2s; /* Efecto de transición */
}

.createMatch:hover {
  background-color: var(
    --title-color
  ); /* Color de fondo al pasar el mouse (hover) */
  transform: scale(1.05); /* Efecto de agrandamiento */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 500px;
}

.modal h2 {
  margin-top: 0;
}

.modal ul {
  list-style: none;
  padding: 0;
}

.modal li {
  margin: 10px 0;
}

.estadisticas {
  margin-top: 10px;
  margin-left: 15px;
  padding: 5px 10px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.estadisticas:hover {
  background: #0056b3;
}

.close-btn {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  background: red;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
