
<table>
    <thead>
      <tr>
        <th *ngFor="let column of columns">{{ column }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let key of getObjectKeys(row)">{{ row[key] }}</td>
        <td class="botones">
          <button  *ngIf="actions.includes('Seleccionar')" (click)="onSelect(row)">          
            <i class="fas fa-check" style="color: green;"></i>
          </button>
        </td>
        <td class="botones">
          <button  *ngIf="actions.includes('Editar')" (click)="onEdit(row)">
            <i class="fas fa-edit" ></i>
          </button>
         
        </td>
        <td class="botones">
          <button  *ngIf="actions.includes('Eliminar')" (click)="onDelete(row)">
            <i class="fas fa-trash" style="color: red"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  