table {
    width: 100%;
    border-collapse: collapse;
  }

  thead tr th{
    background-color: var(--main-color);
  }

  i {
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;
  }
  
  i:hover {
    transform: scale(1.2); /* Aplica la escala cuando el cursor pasa por encima */
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
  }
  

  button{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .botones{
    border: none;
    align-items: center;
    text-align: center;
    width: 20px;
  }

