.selecciones{
  display: flex;
  flex-direction: row;
}
.jugadores-container {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }

  h1 {
    text-align: center;
    margin-bottom: 50px;
  }

  .botonVolver{
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50px;
    border: solid 2px gray;
    background-color: #cfcfcf5f;
    cursor: pointer;
    box-shadow: 
    2px 2px 4px rgba(0, 0, 0, 0.2),   /* Sombra más tenue (abajo a la derecha) */
    -2px -2px 4px rgba(255, 255, 255, 0.7);
  }

  .back-button{
    background-color: transparent;
    border: none;
  }
  .botonVolver i{
    margin-left: 4px;
  }
  
  .botonAnadir{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .botonAnadir button{
    background-color: var(--main-color2);
    border-radius: 20px;
    border: 2px solid var(--main-color);
    padding: 9px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;    
  }
  .botonAnadir button:hover {
    transform: scale(1.1);
  }
  .ventana {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ventana-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ventana-content h2{
    margin-bottom: 20px;
  }
  
  .ventana-content .input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
  }
  .ventana-content .input .titulo{
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 2px;
  }

  .ventana-content .input input {
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .ventana-content button {
    margin: 5px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .ventana-content button:first-child {
    background: #007bff;
    color: white;
  }
  
  .ventana-content button:last-child {
    background: #ccc;
  }
  